:root {
  --color-platinum: #e5e4e2;
  --color-gold: #ffd700;
  --color-silver: #c0c0c0;
  --color-copper: #CD7F32;
    background: rgb(34, 34, 34);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

a {
  color: green
}

.flex {
  display: flex;
  gap: 4px;
}

.items-center {
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.card {
  border: 1px solid #646464;
  padding: 16px;
  background: #0a0a0a;
  border-radius: 8px;
  height: fit-content;
}

.card h2 {
  margin: 0 0 8px 0;
  color: black;
}

.chat-container {
  max-height: 300px;
  overflow-y: auto;
}

#coin-platinum,
#total-coin-platinum {
  color: var(--color-platinum);
}

#coin-gold,
#total-coin-gold {
  color: var(--color-gold);
}

#coin-silver,
#total-coin-silver {
  color: var(--color-silver);
}

#coin-copper,
#total-coin-copper {
  color: var(--color-copper);
}
